{# @prop items Array of {path, label} — path null for current page #}
{# @block breadcrumbActions Slot for actions on the right side #}
{%- props items = [] -%}
{%- set filteredItems = items|filter(item => item is not empty) -%}
<div class="flex items-center justify-between mb-10">
    <nav {{ attributes }} aria-label="Breadcrumb">
        <twig:SFUIToolbox:Generic:Breadcrumb:List>
            {% for item in filteredItems %}
                <twig:SFUIToolbox:Generic:Breadcrumb:Item>
                    {%- if not loop.last -%}
                        <twig:SFUIToolbox:Generic:Breadcrumb:Link href="{{ item.path }}">{{- item.label|raw -}}</twig:SFUIToolbox:Generic:Breadcrumb:Link>
                    {%- else -%}
                        <twig:SFUIToolbox:Generic:Breadcrumb:Page>{{- item.label|raw -}}</twig:SFUIToolbox:Generic:Breadcrumb:Page>
                    {%- endif -%}
                </twig:SFUIToolbox:Generic:Breadcrumb:Item>
                {% if not loop.last %}
                    <twig:SFUIToolbox:Generic:Breadcrumb:Separator />
                {% endif %}
            {% endfor %}
        </twig:SFUIToolbox:Generic:Breadcrumb:List>
    </nav>
    {%- block breadcrumbActions %}{% endblock -%}
</div>
