{# @prop id Unique identifier used to generate internal Dialog IDs (required) #}
{# @prop open boolean Open the Dialog on initial render, default to false #}
{# @block content Slot — place Dialog:Content and a trigger inside #}
{%- props open = false, id -%}
{%- set _dialog_id = 'dialog-' ~ id -%}
{%- set _dialog_title_id = _dialog_id ~ '-title' -%}
{%- set _dialog_description_id = _dialog_id ~ '-description' -%}
<div {{ attributes.defaults({
    'data-controller': 'dialog',
    'aria-labelledby': _dialog_title_id,
    'aria-describedby': _dialog_description_id,
}) }}>
    {%- block content %}{% endblock -%}
</div>