<form>
    <div class="bg-card rounded-xl p-1.5 flex items-center border border-border">
        <div class="flex-1 flex items-center px-4">
                    <span class="text-muted-foreground">
                        <twig:ux:icon name="iconoir:search"/>
                    </span>
            <input
                value="{{ app.request.query.get('q') }}"
                name="q"
                class="w-full border-none focus:ring-0 bg-transparent text-sm placeholder:text-muted-foreground"
                placeholder="{{ 'search_placeholder'|trans }}"
                type="text"
            />
        </div>
        {% set routeParams = {'_reset': true} %}
        {% if app.request.attributes.get('_route_params') is not empty %}
            {% set routeParams = routeParams|merge(app.request.attributes.get('_route_params')) %}
        {% endif %}
        <div class="flex">
            {# AFAIRE: Revoir la croix #}
            <twig:SFUIToolbox:Generic:Button class="p-0 bg-transparent !text-primary hover:bg-transparent" link="{{ path(app.request.attributes.get('_route'), routeParams) }}">
                <twig:ux:icon name="iconoir:xmark"/>
            </twig:SFUIToolbox:Generic:Button>

            <twig:SFUIToolbox:Generic:Button class="py-2" type="submit">
                {{ 'filter'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        </div>
    </div>
</form>
