{# @prop label The tooltip text #}
{# @prop position 'top'|'bottom'|'left'|'right' Tooltip placement, default to 'top' #}
{# @block content The trigger element #}
{%- props label, position = 'top' -%}
{%- set positionClasses = {
    top: 'bottom-full left-1/2 -translate-x-1/2 mb-1.5',
    bottom: 'top-full left-1/2 -translate-x-1/2 mt-1.5',
    left: 'right-full top-1/2 -translate-y-1/2 mr-1.5',
    right: 'left-full top-1/2 -translate-y-1/2 ml-1.5',
} -%}
<div class="relative group/tooltip inline-flex {{ attributes.render('class') }}" {{ attributes.without('class') }}>
    {%- block content %}{% endblock -%}
    <span
        role="tooltip"
        class="pointer-events-none absolute z-50 whitespace-nowrap rounded-md bg-foreground px-2 py-1 text-xs text-background opacity-0 transition-opacity group-hover/tooltip:opacity-100 {{ positionClasses[position] ?? positionClasses.top }}"
    >{{ label }}</span>
</div>
