{% props label, bgColor = 'bg-black', textColor = 'text-white' %}

<div class="hs-tooltip">
    {% block content %}{% endblock %}
    <span
        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 {{ bgColor }} text-xs font-medium {{ textColor }} rounded-md shadow-2xs"
        role="tooltip">
      {{ label }}
    </span>
</div>
