services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    AppoloDev\SFUIToolboxBundle\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Domain/Entity/'
            - '../src/Domain/Repository/'
