<div class="max-w-sm w-full flex flex-col justify-center mx-auto gap-5 p-8">
    <div class="flex flex-col items-center gap-2">
        <div class="mb-4">
            {% block ListEmptyIllustration %}
                {{ source('@SFUIToolbox/illustrations/list_empty.svg') }}
            {% endblock %}
        </div>

        {% if title is not null and title is not empty %}
            <div class="font-semibold text-gray-800 text-center">{{ title }}</div>
        {% endif %}

        {% if description is not null and description is not empty %}
            <p class="text-sm text-gray-600 text-center">{{ description }}</p>
        {% endif %}
    </div>

    {% block ListEmptyButton %}{% endblock %}
</div>