<div class="hs-dropdown relative inline-flex">
    {% block dropdownButton %}
        <button type="button" class="hs-dropdown-toggle flex items-center justify-center w-9 h-9 rounded-xl border border-gray-100 bg-white text-subtitle hover:bg-gray-50 transition-all">
            <twig:ux:icon name="fa6-solid:ellipsis" class="w-4 h-4"/>
        </button>
    {% endblock %}

    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 bg-white border border-gray-100 shadow-lg rounded-xl p-1 mt-2 z-10"
         role="menu" aria-orientation="vertical">
        {% if dropdownHeaderLabel is defined %}
            <div class="px-3 py-2">
                <span class="block text-xs font-semibold uppercase tracking-wide text-subtitle">
                    {% block dropdownHeaderLabel %}{% endblock %}
                </span>
            </div>
        {% endif %}

        {% block dropdownItems %}{% endblock %}
    </div>
</div>